// Nav Selector Menu Design
.jfb-selector-nav {
  &> div {
    display:flex;
  }
  
  a {
    padding:5px 10px;
    color:#51BF23;
  }

  a.active {
    color:#1E1E1E;
  }
}

// Table Design
.jfb-table {
  font-size:12px;

  td, th {
    vertical-align: middle;
    padding:10px 2px;

    input, .input-group-text {
      font-size:12px;
    }
  }

  .buttons {
    .btn-sm {
      font-size:12px;
    }
  }

  .small-width {
    width:60px;
  }
  .medium-width {
    width:100px;
  }

  .jfb-img-td {
    width:40px;
    
    img {
      width:100%;
      height:auto;
    }
  }

  .jfb-nowrap {
    white-space: nowrap;
  }

  .price-change-all, .compare-price-change-all {
    position:relative;

    .change-input {
      position:absolute;
      display: none;
      flex-direction: column;
      left: 0;
      top: -25px;
      padding: 5px;
      background: white;
      box-shadow: 0 0 5px #aaa;
      z-index:2;

      .input {
        margin-bottom:5px;
      }
      .buttons {
        button {
          font-size:12px;
        }
      }
    }
  }
}