@charset "UTF-8";

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
}

.form-control:focus {
  box-shadow: none;
}

.flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-div .flex-grow-1 {
  flex-grow: 1;
}

p {
  margin-bottom: 0 !important;
}

.black-overlay {
  display: none;
}

#CloseDetails {
  display: none;
}

#DetailsOpenerBars {
  display: none;
}

.flex-custom {
  display: flex;
  flex-direction: row;
}

.flex-custom .sidebar {
  height: inherit;
}

.flex-custom .content {
  flex-grow: 1;
  height: inherit;
}

.flex-column {
  flex-direction: column;
}

.temp-colors {
  background: blue;
  color: white;
}

.icon-btn {
  padding: 5px 14px;
  border: 1px solid transparent;
  color: #FBFAF9;
}

.icon-btn i {
  font-size: 12px;
}

.icon-btn:hover i {
  color: #36FFB8;
}

.custom-scroll {
  position: relative;
}

.btn-icon {
  visibility: hidden;
  color: #019be1;
  padding: 0px;
}

.btn-icon > .fa {
  font-size: 10px;
}

.btn-icon:hover {
  color: #019be1;
}

.only-icon {
  color: black;
  padding: 0px;
}

.only-icon > .fa {
  font-size: 10px;
}

.only-icon:hover {
  color: #019be1;
}

.btn-icon-shower:hover .btn-icon {
  visibility: visible;
}

.btn:focus,
.btn:active,
.form-control:active {
  outline: none !important;
  box-shadow: none;
}

.circle-btn {
  color: #212529;
}

.circle-btn i {
  padding: 10px;
  font-size: 12px;
  border-radius: 50%;
}

.circle-btn:hover i {
  background: #15A4FF;
  color: white;
}

.dropdown-menu {
  box-shadow: 2px 2px 5px #ccc;
}

.dropdown-menu a {
  font-size: 12px;
}

.dropdown-menu a i {
  margin-right: 5px;
}

.dropdown-menu a:hover {
  background: #EFF7FE;
}

.dropdown-menu a:hover i {
  color: #15A4FF;
}

html {
  overflow-y: hidden;
}

body {
  background: #efefef;
}

section.site-header {
  height: 50px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px #ddd;
  font-size: 14px;
  color: white;
  background: #15A4FF;
  background: linear-gradient(114deg, #020024 0%, #093779 0%, #153cc2 37%, #0064ff 65%, #0fb7d2 100%, #1755bc 100%);
}

section.site-header .logo {
  font-size: 20px;
  font-weight: bold;
}

section.site-header .search-form {
  max-width: 300px;
  display: none;
}

section.site-header .search-form .search-input {
  background: white;
  color: #212529;
  font-size: 13px;
}

section.site-header > div {
  height: inherit;
}

section.site-header > div > div {
  height: inherit;
}

section.site-header .icon-btn {
  margin-left: 5px;
  color: white;
}

#profile-tooltip,
#click-tooltip {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #e6e6e6;
  padding: 10px;
  font-size: 12px;
  box-shadow: 0 0 5px #ccc;
  z-index: 11;
}

#profile-tooltip .header,
#click-tooltip .header {
  display: flex;
  align-items: center;
}

#profile-tooltip .header img,
#click-tooltip .header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

#profile-tooltip .content,
#click-tooltip .content {
  padding: 5px 0;
}

#profile-tooltip .actions,
#click-tooltip .actions {
  padding-top: 5px;
}

#profile-tooltip .actions .btn,
#click-tooltip .actions .btn {
  font-size: 10px;
  border-radius: 0;
  padding: 5px 10px;
}

#profile-tooltip .actions .btn.btn-success,
#profile-tooltip .actions .btn.btn-primary,
#click-tooltip .actions .btn.btn-success,
#click-tooltip .actions .btn.btn-primary {
  background: #15A4FF;
  border-color: #078AFF;
}

#profile-tooltip .actions .btn.btn-success:hover,
#profile-tooltip .actions .btn.btn-primary:hover,
#click-tooltip .actions .btn.btn-success:hover,
#click-tooltip .actions .btn.btn-primary:hover {
  background: #078AFF;
}

#click-tooltip:before {
  content: " ";
  height: 10px;
  width: 10px;
  background: white;
  position: relative;
  left: -15px;
  top: 50px;
  transform: rotate(135deg);
  box-shadow: 2px 2px 5px #ccc;
}

section.main {
  height: calc(100vh - 50px);
}

section.main .container,
section.main .container-fluid {
  height: inherit;
  background: white;
  padding-left: 0;
  padding-right: 0;
}

section.main .container .flex-div,
section.main .container-fluid .flex-div {
  height: inherit;
}

section.main .left-sidebar {
  width: 300px;
  height: inherit;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}

section.main .left-sidebar .chatroom .title {
  padding-top: 10px;
}

section.main .left-sidebar .chatroom .create-new {
  text-decoration: none;
}

section.main .left-sidebar .chatroom .create-new > div {
  padding: 5px 10px;
}

section.main .left-sidebar .chatroom .create-new > div:hover {
  background: #EFF7FE;
}

section.main .left-sidebar .chatroom .create-new:hover {
  text-decoration: none;
}

section.main .left-sidebar .search-container {
  position: relative;
}

section.main .left-sidebar .search-container #searchInput {
  font-size: 14px;
}

section.main .left-sidebar .search-container > .search-results {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  padding: 5px 0;
  width: 100%;
  top: 35px;
  background: white;
  box-shadow: 2px 2px 5px #ccc;
  z-index: 10;
}

section.main .left-sidebar .search-container > .search-results .single .propic,
section.main .left-sidebar .search-container > .search-results .single .nopic {
  width: 50px;
  height: auto;
}

section.main .left-sidebar .search-container > .search-results .single .propic img,
section.main .left-sidebar .search-container > .search-results .single .propic p,
section.main .left-sidebar .search-container > .search-results .single .nopic img,
section.main .left-sidebar .search-container > .search-results .single .nopic p {
  height: 30px;
  width: 30px;
}

section.main .left-sidebar .search-container > .search-results .single .content .name {
  font-size: 14px;
}

section.main .left-sidebar .search-container > .search-results .single .content .designation {
  font-size: 11px;
}

section.main .left-sidebar .single-conversation,
section.main .left-sidebar .single {
  background: #fff;
  color: black;
  border-left: 2px solid white;
  font-size: 12px;
  cursor: pointer;
}

section.main .left-sidebar .single-conversation.active,
section.main .left-sidebar .single-conversation:hover,
section.main .left-sidebar .single.active,
section.main .left-sidebar .single:hover {
  background: #EFF7FE;
  border-left-color: #019be1;
}

section.main .left-sidebar .single-conversation.active-bordered,
section.main .left-sidebar .single.active-bordered {
  border: 2px solid transparent;
  padding: 5px 0;
}

section.main .left-sidebar .single-conversation .content .name,
section.main .left-sidebar .single .content .name {
  font-size: 16px;
  color: #212529;
  font-weight: 500;
}

section.main .left-sidebar .single-conversation .content .designation,
section.main .left-sidebar .single .content .designation {
  font-size: 12px;
  color: #969696;
}

section.main .left-sidebar .single-conversation .propic,
section.main .left-sidebar .single .propic {
  width: 70px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.main .left-sidebar .single-conversation .propic img,
section.main .left-sidebar .single .propic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

section.main .left-sidebar .single-conversation .nopic,
section.main .left-sidebar .single .nopic {
  width: 70px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.main .left-sidebar .single-conversation .nopic p,
section.main .left-sidebar .single .nopic p {
  width: 50px;
  height: 50px;
  background: blue;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.main .left-sidebar .single-conversation .content,
section.main .left-sidebar .single .content {
  padding: 10px;
}

section.main .left-sidebar .single-conversation .options,
section.main .left-sidebar .single .options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 10px;
}

section.main .left-sidebar .conversations {
  overflow-y: auto;
  flex-grow: 1;
}

section.main .left-sidebar .conversations a {
  text-decoration: none;
}

section.main .main-contents {
  flex-grow: 1;
  height: inherit;
  font-size: 13px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

section.main .main-contents button {
  color: #363D45;
}

section.main .main-contents .person-header {
  border-bottom: 1px solid #aaa;
  padding: 3px 10;
  align-items: center;
  max-height: 60px;
}

section.main .main-contents .person-header .name {
  font-size: 16px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}

section.main .main-contents .person-header .product-image {
  margin: auto 10px;
}

section.main .main-contents .person-header .product-image img {
  height: 30px;
  width: 30px;
  margin: 10px;
  border-radius: 50%;
}

section.main .main-contents .messages-container {
  overflow-y: auto;
  background: white;
  flex-grow: 1;
  margin-bottom: 50px;
}

section.main .main-contents .messages-container .sidebar {
  padding: 5px;
}

section.main .main-contents .messages-container .sidebar img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

section.main .main-contents .messages-container .single-message {
  padding: 10px;
  align-items: flex-start;
}

section.main .main-contents .messages-container .single-message .name-and-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section.main .main-contents .messages-container .single-message .name-and-message .name {
  margin-bottom: 10px;
  margin-top: 7px;
}

section.main .main-contents .messages-container .single-message .name-and-message .name span {
  color: #969696;
}

section.main .main-contents .messages-container .single-message .main-message {
  padding: 10px;
  max-width: 400px;
  width: auto;
  border-radius: 5px;
}

section.main .main-contents .messages-container .to_me .main-message {
  background: #ebebeb;
  color: black;
}

section.main .main-contents .messages-container .from_me {
  justify-content: flex-end;
}

section.main .main-contents .messages-container .from_me .name-and-message {
  align-items: flex-end;
}

section.main .main-contents .messages-container .from_me .main-message {
  background: #019be1;
  color: white;
}

section.main .main-contents .send-message {
  max-height: 50px;
  height: 50px;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
}

section.main .main-contents .send-message .file-attach {
  padding: 20px;
}

section.main .main-contents .send-message .type-message {
  height: inherit;
  display: flex;
  align-items: center;
}

section.main .main-contents .send-message .type-message input,
section.main .main-contents .send-message .type-message button {
  font-size: 12px;
}

section.main .main-contents .send-message .type-message button {
  padding: 6px;
}

section.main .main-contents .send-message .send-button button {
  background: #007ACC;
  color: white;
  font-size: 12px;
}

.propic,
.nopic {
  position: relative;
}

.propic .status,
.nopic .status {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ccc;
  border: 2px solid white;
  right: 10px;
  top: 5px;
  border-radius: 50%;
}

.propic .status.online,
.nopic .status.online {
  background: #0ABB87;
}

.propic .status.away,
.nopic .status.away {
  background: #FFb822;
}

.propic .status.offline,
.nopic .status.offline {
  background: #ccc;
}

@media (max-width: 575.98px) {
  .user-info > .name {
    display: none;
  }
}

@media (max-width: 767.98px) {
  section.main > .container > .flex-div,
  section.main > .container-fluid > .flex-div {
    flex-direction: column;
  }

  section.main > .container > .flex-div .left-sidebar,
  section.main > .container-fluid > .flex-div .left-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    background: white;
    z-index: 100;
  }

  section.main > .container > .flex-div .left-sidebar .conversations,
  section.main > .container-fluid > .flex-div .left-sidebar .conversations {
    max-height: 100vh !important;
  }

  section.main > .container > .flex-div .main-contents,
  section.main > .container-fluid > .flex-div .main-contents {
    width: 100%;
  }

  section.main > .container > .flex-div .main-contents .send-message,
  section.main > .container-fluid > .flex-div .main-contents .send-message {
    position: fixed !important;
  }

  .display-none-min-screen {
    display: none !important;
  }

  .black-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
  }

  #CloseDetails {
    display: initial;
    color: black;
    margin-left: 10px;
  }

  #DetailsOpenerBars {
    display: initial;
  }

  #ConversationDetailsOpener {
    cursor: pointer;
  }

  #click-tooltip {
    z-index: 200;
  }

  #click-tooltip:before {
    display: none;
  }
}

/*** iPhone and iOS Form Input Zoom Fixes ***/

/* Fix Input Zoom on devices older than iPhone 5: */

@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type=text],
  input[type=password],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=number],
  input[type=email],
  input[type=url] {
    font-size: 16px !important;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */

@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type=text],
  input[type=password],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=number],
  input[type=email],
  input[type=url] {
    font-size: 16px !important;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */

@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type=text],
  input[type=password],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=number],
  input[type=email],
  input[type=url] {
    font-size: 16px !important;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */

@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type=text],
  input[type=password],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=number],
  input[type=email],
  input[type=url] {
    font-size: 16px;
  }
}

section.login-page .container,
section.login-page .container-fluid {
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

section.login-page .container a,
section.login-page .container-fluid a {
  color: #15A4FF;
}

section.login-page .container .left-sidebar,
section.login-page .container-fluid .left-sidebar {
  width: 40vw;
  min-width: 400px;
  background: white;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

section.login-page .container .left-sidebar .form-container,
section.login-page .container-fluid .left-sidebar .form-container {
  width: 60%;
}

section.login-page .container .left-sidebar .form-container .logo,
section.login-page .container-fluid .left-sidebar .form-container .logo {
  text-align: center;
}

section.login-page .container .left-sidebar .form-container .form-group,
section.login-page .container-fluid .left-sidebar .form-container .form-group {
  margin-bottom: 5px;
}

section.login-page .container .left-sidebar .form-container label,
section.login-page .container-fluid .left-sidebar .form-container label {
  font-size: 12px;
  color: #212529;
  font-weight: 500;
}

section.login-page .container .left-sidebar .form-container input[type=text],
section.login-page .container .left-sidebar .form-container input[type=email],
section.login-page .container .left-sidebar .form-container input[type=password],
section.login-page .container-fluid .left-sidebar .form-container input[type=text],
section.login-page .container-fluid .left-sidebar .form-container input[type=email],
section.login-page .container-fluid .left-sidebar .form-container input[type=password] {
  font-size: 12px;
  border-radius: 2px;
  border-color: #ddd;
  padding: 20px 15px !important;
}

section.login-page .container .left-sidebar .form-container .login-form,
section.login-page .container-fluid .left-sidebar .form-container .login-form {
  display: block;
}

section.login-page .container .left-sidebar .form-container .login-form .extra-links,
section.login-page .container-fluid .left-sidebar .form-container .login-form .extra-links {
  display: flex;
  align-items: center;
}

section.login-page .container .left-sidebar .form-container .login-form .extra-links .form-check,
section.login-page .container-fluid .left-sidebar .form-container .login-form .extra-links .form-check {
  flex-grow: 1;
}

section.login-page .container .left-sidebar .form-container .login-form .extra-links a,
section.login-page .container-fluid .left-sidebar .form-container .login-form .extra-links a {
  font-size: 12px;
  font-weight: 500;
}

section.login-page .container .left-sidebar .form-container .login-form .social-logins,
section.login-page .container-fluid .left-sidebar .form-container .login-form .social-logins {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

section.login-page .container .left-sidebar .form-container .login-form .social-logins .btn-default,
section.login-page .container-fluid .left-sidebar .form-container .login-form .social-logins .btn-default {
  color: white;
  font-size: 12px;
  flex-grow: 1;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

section.login-page .container .left-sidebar .form-container .login-form .social-logins .btn-default:first-child,
section.login-page .container-fluid .left-sidebar .form-container .login-form .social-logins .btn-default:first-child {
  margin-right: 10px;
}

section.login-page .container .left-sidebar .form-container .login-form .social-logins .btn-default:hover,
section.login-page .container-fluid .left-sidebar .form-container .login-form .social-logins .btn-default:hover {
  box-shadow: 0 0 5px #1755bc;
}

section.login-page .container .left-sidebar .form-container .login-form .social-logins .btn-default i,
section.login-page .container-fluid .left-sidebar .form-container .login-form .social-logins .btn-default i {
  margin-right: 5px;
}

section.login-page .container .left-sidebar .form-container .login-form .social-logins .btn-default.google,
section.login-page .container-fluid .left-sidebar .form-container .login-form .social-logins .btn-default.google {
  background: #DC4D32;
}

section.login-page .container .left-sidebar .form-container .login-form .social-logins .btn-default.facebook,
section.login-page .container-fluid .left-sidebar .form-container .login-form .social-logins .btn-default.facebook {
  background: #1E599C;
}

section.login-page .container .left-sidebar .form-container .register-form,
section.login-page .container-fluid .left-sidebar .form-container .register-form {
  display: none;
}

section.login-page .container .left-sidebar .form-container .guest-form,
section.login-page .container-fluid .left-sidebar .form-container .guest-form {
  display: none;
}

section.login-page .container .left-sidebar .form-container .register-links,
section.login-page .container-fluid .left-sidebar .form-container .register-links {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

section.login-page .container .left-sidebar .form-container .submit-button,
section.login-page .container-fluid .left-sidebar .form-container .submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
  background: #020024;
  background: linear-gradient(114deg, #1550c2 37%, #0086ff 65%, #0fb7d2 100%, #1755bc 100%);
  border-color: white;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

section.login-page .container .left-sidebar .form-container .submit-button:hover,
section.login-page .container-fluid .left-sidebar .form-container .submit-button:hover {
  box-shadow: 0 0 5px #1755bc;
}

section.login-page .container .right-side,
section.login-page .container-fluid .right-side {
  flex-grow: 1;
  background: #020024;
  background: linear-gradient(114deg, #020024 0%, #1d0979 0%, #1550c2 37%, #0086ff 65%, #0fb7d2 100%, #1755bc 100%);
  display: flex;
  align-items: center;
  color: white;
}

section.login-page .container .right-side .contents,
section.login-page .container-fluid .right-side .contents {
  text-align: center;
  width: 100%;
}

section.login-page .container .right-side .contents a,
section.login-page .container .right-side .contents:hover,
section.login-page .container-fluid .right-side .contents a,
section.login-page .container-fluid .right-side .contents:hover {
  text-decoration: none;
}

section.login-page .container .right-side .contents .row,
section.login-page .container-fluid .right-side .contents .row {
  width: 80%;
  margin: auto;
}

section.login-page .container .right-side .contents .single-zip-code,
section.login-page .container-fluid .right-side .contents .single-zip-code {
  background: white;
  color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 5px;
  transition: all ease-in-out 0.3s;
  border: 2px solid white;
  border-radius: 5px;
  position: relative;
  text-align: left;
}

section.login-page .container .right-side .contents .single-zip-code .logo-container .logo,
section.login-page .container-fluid .right-side .contents .single-zip-code .logo-container .logo {
  width: 30px;
  height: 30px;
  background: #019be1;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

section.login-page .container .right-side .contents .single-zip-code .room-details,
section.login-page .container-fluid .right-side .contents .single-zip-code .room-details {
  flex-grow: 1;
}

section.login-page .container .right-side .contents .single-zip-code .room-details .location,
section.login-page .container-fluid .right-side .contents .single-zip-code .room-details .location {
  font-size: 16px;
  font-weight: 500;
}

section.login-page .container .right-side .contents .single-zip-code .room-details .users,
section.login-page .container-fluid .right-side .contents .single-zip-code .room-details .users {
  font-size: 14px;
}

section.login-page .container .right-side .contents .single-zip-code:hover,
section.login-page .container-fluid .right-side .contents .single-zip-code:hover {
  border: 2px solid #019BE1;
  z-index: 100;
}

.form-check {
  position: relative;
}

.form-check > label {
  margin-left: 10px;
  cursor: pointer;
}

.form-check > label > input.form-check-input {
  display: none;
}

.form-check > label > input.form-check-input:checked ~ .checkmark:after {
  content: "\2713";
  color: #15A4FF;
  font-size: 14px;
  position: absolute;
  left: 4px;
  top: -2px;
}

.form-check > label > .checkmark {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  position: absolute;
  left: 0px;
  border: 1px solid #15A4FF;
}

@media (max-width: 767.98px) {
  section.login-page .container,
  section.login-page .container-fluid {
    flex-direction: column;
  }

  section.login-page .container .left-sidebar,
  section.login-page .container-fluid .left-sidebar {
    width: 100%;
    height: auto;
    min-width: 100%;
  }

  section.login-page .container .left-sidebar .form-container,
  section.login-page .container-fluid .left-sidebar .form-container {
    width: 90%;
  }

  section.login-page .container .left-sidebar .form-container .social-logins,
  section.login-page .container-fluid .left-sidebar .form-container .social-logins {
    flex-direction: column;
  }

  section.login-page .container .left-sidebar .form-container .social-logins a:first-child,
  section.login-page .container-fluid .left-sidebar .form-container .social-logins a:first-child {
    margin-right: 0px !important;
    margin-bottom: 10px;
  }

  section.login-page .container .left-sidebar > div,
  section.login-page .container .right-side > div,
  section.login-page .container-fluid .left-sidebar > div,
  section.login-page .container-fluid .right-side > div {
    margin: 40px 0;
  }

  section.login-page .container .right-side .contents h3,
  section.login-page .container .right-side .contents h4,
  section.login-page .container-fluid .right-side .contents h3,
  section.login-page .container-fluid .right-side .contents h4 {
    margin-right: 10px;
    margin-left: 10px;
  }

  section.login-page .container .right-side .contents .row,
  section.login-page .container-fluid .right-side .contents .row {
    width: 90%;
  }
}

html {
  overflow: auto;
}

section.search-box {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

section.search-box .container,
section.search-box .container-fluid {
  background: white;
  margin-top: 20px;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 10px #ccc;
}

section.search-box .container .input-group,
section.search-box .container-fluid .input-group {
  margin-bottom: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}

section.search-box .container .input-group i,
section.search-box .container-fluid .input-group i {
  padding: 0 5px 0 5px;
  color: #ccc;
}

section.search-box .container .input-group input[type=text],
section.search-box .container-fluid .input-group input[type=text] {
  border-width: 0px;
}

section.search-box .container .input-group input[type=text]:focus,
section.search-box .container-fluid .input-group input[type=text]:focus {
  z-index: 0;
}

section.search-box .container .input-group button,
section.search-box .container-fluid .input-group button {
  width: 100%;
  font-size: 14px;
  background: #020024;
  background: linear-gradient(114deg, #1550c2 37%, #0086ff 65%, #0fb7d2 100%, #1755bc 100%);
  border-color: white;
  border-radius: 5px;
  padding: 10px 25px;
  transition: all 0.2s ease-in-out;
  color: white;
}

section.search-box .container .input-group button:hover,
section.search-box .container .input-group button:focus,
section.search-box .container-fluid .input-group button:hover,
section.search-box .container-fluid .input-group button:focus {
  box-shadow: 0 0 5px #1755bc;
}

section.search-box .container > .search-results,
section.search-box .container-fluid > .search-results {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 0;
  width: 90%;
  top: 60px;
  background: white;
  box-shadow: 2px 2px 5px #ccc;
  z-index: 10;
}

section.search-box .container > .search-results a,
section.search-box .container > .search-results:hover,
section.search-box .container-fluid > .search-results a,
section.search-box .container-fluid > .search-results:hover {
  text-decoration: none;
  color: black;
}

section.search-box .container > .search-results .single,
section.search-box .container-fluid > .search-results .single {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

section.search-box .container > .search-results .single:hover,
section.search-box .container-fluid > .search-results .single:hover {
  background: #efefef;
}

section.search-box .container > .search-results .single .nopic,
section.search-box .container-fluid > .search-results .single .nopic {
  width: 70px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.search-box .container > .search-results .single .nopic p,
section.search-box .container-fluid > .search-results .single .nopic p {
  width: 50px;
  height: 50px;
  background: #019BE1;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.search-box .container > .search-results .single .propic,
section.search-box .container > .search-results .single .nopic,
section.search-box .container-fluid > .search-results .single .propic,
section.search-box .container-fluid > .search-results .single .nopic {
  width: 50px;
  height: auto;
}

section.search-box .container > .search-results .single .propic img,
section.search-box .container > .search-results .single .propic p,
section.search-box .container > .search-results .single .nopic img,
section.search-box .container > .search-results .single .nopic p,
section.search-box .container-fluid > .search-results .single .propic img,
section.search-box .container-fluid > .search-results .single .propic p,
section.search-box .container-fluid > .search-results .single .nopic img,
section.search-box .container-fluid > .search-results .single .nopic p {
  height: 30px;
  width: 30px;
}

section.search-box .container > .search-results .single .content .location,
section.search-box .container-fluid > .search-results .single .content .location {
  font-size: 16px;
  font-weight: 500;
}

section.search-box .container > .search-results .single .content .users,
section.search-box .container-fluid > .search-results .single .content .users {
  font-size: 11px;
}

section.zip-listings .container {
  margin-top: 20px;
}

section.zip-listings .row {
  margin-left: -20px;
  margin-right: -20px;
}

section.zip-listings .row > div {
  padding-left: 0;
  padding-right: 0;
}

section.zip-listings a,
section.zip-listings:hover {
  text-decoration: none;
}

section.zip-listings .single-zip-code {
  background: white;
  color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 5px;
  transition: all ease-in-out 0.3s;
  border: 2px solid white;
  position: relative;
}

section.zip-listings .single-zip-code .logo-container .logo {
  width: 30px;
  height: 30px;
  background: blue;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

section.zip-listings .single-zip-code .room-details {
  flex-grow: 1;
}

section.zip-listings .single-zip-code .room-details .location {
  font-size: 16px;
  font-weight: 500;
}

section.zip-listings .single-zip-code .room-details .users {
  font-size: 14px;
}

section.zip-listings .single-zip-code:hover {
  transform: scale(1.1);
  border: 2px solid #019BE1;
  z-index: 100;
}

@media (max-width: 575.98px) {
  section.search-box {
    margin: 0 15px;
  }

  section.zip-listings .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  section.zip-listings .row > div {
    padding-left: 0;
    padding-right: 0;
  }

  section.zip-listings .single-zip-code {
    margin: 5px 0;
  }

  section.zip-listings .single-zip-code:hover {
    transform: none;
    border: 2px solid #019BE1;
  }
}

